<!DOCTYPE html>
<html>
    <head>
        <title> gRPC サンプル</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>最新の投稿</h1>
        <p><%- content %></p>
        <a href="/new">投稿する</a>
    </body>
</html>
